university{
    margin: 200pt;
}
firstname,secondname{
    color: blue;
    font-style: italic;
    margin: 2px;
    font-weight: bold;
    font-size: 20px;
    background-color: yellow;
}
lastplaceofstudy{
    display:block;
    color: purple;
    font-family: cursive;
    font-size: 14px;
    margin: 2px;
    background-color: greenyellow;
    width: 35pt;
}
phone{
    color: brown;
    display: block;
    margin: 2px;
    font-family: "Comic Sans MS";
    font-size: 16px;
    background-color: greenyellow;
    width: 70pt;
}
faculty{
    display: block;
    margin: 2px;
    font-family: fantasy;
    font-size: x-large;
    color: peru;
    background-color: greenyellow;
    width: 4%;
}